PORT=5000
MONGODB_URI=mongodb+srv://your_username:your_password@your_cluster.mongodb.net/portalrupee?retryWrites=true&w=majority
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

# JWT Secret
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=1d
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key_here
JWT_REFRESH_EXPIRES_IN=7d

# Redis Configuration
REDIS_URL=redis://localhost:6379

#TOTP
TOTP_ENCRYPTION_KEY=your_totp_encryption_key_here

# Email Configuration
EMAIL_FROM=onboarding@resend.dev
RESEND_API_KEY=your_resend_api_key_here

# AWS S3 Settings
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_REGION=ap-south-1
AWS_S3_BUCKET=portalrupee-kyc-docs
USE_LOCAL_S3_FALLBACK=true

# RabbitMQ Configuration
RABBITMQ_URL=amqp://localhost:5672
